In [18]:
def bmi_function(H, W):
  bmi =  W / (H / 100)**2
  return bmi

In [19]:
height = float(input("당신의 키를 입력하시오"))
weight = float(input("당신의 몸무게를 입력하시오"))
BMI = round(bmi_function(height, weight), 2)
print(BMI)

당신의 키를 입력하시오135
당신의 몸무게를 입력하시오43.01
23.6

In [26]:
#1-1
email = "user@expample.com"
username, domain = email.split("@")
print(f"사용자명: {username}, 도메인: {domain}")

사용자명: user, 도메인: expample.com

In [27]:
#1-2
csv_data = "김철수,30,서울,개발자"
data_list = csv_data.split(",")
print(f"분리된 데이터: {data_list}")

분리된 데이터: ['김철수', '30', '서울', '개발자']

In [28]:
#1=3
folders = ["home", "user", "documents", "project"]
path = " ".join(folders)
print(f"경로: {path}")

경로: home user documents project

In [29]:
#1-4
words = ["Python", "is", "awesome"]
sentence = " ".join(words)
print(f"문장: {sentence}")

문장: Python is awesome

In [30]:
#2-1
multiples_of_3 = [x for x in range(1,21) if x % 3 ==0]
print(f"3의 배수:: {multiples_of_3}")

3의 배수:: [3, 6, 9, 12, 15, 18]

In [32]:
#3-1
scores = [95, 87, 92, 88]
print("성적 순위:")
for rank, score in enumerate(scores):
  print(f" {rank+1}등: {score}점")

성적 순위:
 1등: 95점
 2등: 87점
 3등: 92점
 4등: 88점

In [34]:
#3-2
students = ["철수", "영희", "민수"]
scores = [85, 92, 78]
grades = ["B", "A", "C"]

print("\n학생 성적표:")
for name, score, grade in zip(students, scores, grades):
  print(f" {name}: {score}점 ({grade}학점)")

학생 성적표:
 철수: 85점 (B학점)
 영희: 92점 (A학점)
 민수: 78점 (C학점)

In [37]:
#4-1
celsius = [0, 10, 20, 30, 40]
faherenheit = list(map(lambda x: (x * 9/5) + 32, celsius))
print(f"섭씨: {celsius}")
print(f"화씨: {faherenheit}")

섭씨: [0, 10, 20, 30, 40]
화씨: [32.0, 50.0, 68.0, 86.0, 104.0]

In [40]:
#5-1
numbers = [-5, 3, -1, 8, 0, -3, 7]
positive = list(filter(lambda x: x>0, numbers))
print(f"전체숫자: {numbers}")
print(f"양수만: {positive}")

전체숫자: [-5, 3, -1, 8, 0, -3, 7]
양수만: [3, 8, 7]